.loader {
  width: 100vw;
  div {
    width: 100px;
    height: 100px;
    border: 15px solid #45474b;
    border-top-color: #face66;
    margin-inline: auto;
    margin-top: 30vh;
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
