.profile {
  padding-right: 4.5rem;
  width: 100%;
  color: white;

  .title {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
  }

  .profile-options {
    margin-top: 11rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .link-of-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        &:nth-child(1) {
          font-size: 1.8rem;
        }
        &:nth-child(2) {
          font-size: 1.4rem;
          font-weight: 200;
          color: lightgray;
        }
      }
    }
  }

  button {
    padding: 1rem;
    margin-top: 10rem;
    background: #face66;
    color: black;
    width: 100%;
    font-size: 1.8rem;
    cursor: pointer;
  }
}

@media (max-width: 970px) {
  .profile {
    padding-inline: 2rem;

    .profile-options {
      margin-top: 6rem;
    }

    .title {
      margin-top: 2rem;
    }
  }
}
