*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

html{
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

body{
  background:  hsla(200, 9%, 13%, 1);
}

.App{
  .ex{
    display: flex;
  }
}